<!DOCTYPE html>
<html>
<head>
    <title>Upload an Image</title>
</head>
<body>
    <h1>Upload an Image of a Graph</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg">
        <input type="submit" value="Predict Chart Type">
    </form>
</body>
</html>

